body {
  background-color: #a57356;
}

/* Sections */

.about-us-reddit,
.about-us-server {
  margin-top: 50px;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-reddit,
.about-us-server {
  font-size: 80px;
}

/* Team Styles */
.about-us-team {
  margin-top: 50px;
  min-height: 300px;
  background-color: #deb891;
}
.about-us-team_heading{
  font-size: 50px;
}
.about-us-team_team-section {
  width: 100%;
}

.about-us-team .about-us-team_team-section:nth-of-type(2) {
  margin-top: 25px;
}

.about-us-team_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center; /* Centers items vertically */
  justify-items: center;

}
.about-us-team_card {
  border-radius: 5px;
  width: 300px;
  min-height: 300px;
  background-color: #8e7474;
  padding: 8px;
}
.card_divider{
  border-color: darkslategrey;
}
.about-us-team_img {
  max-width: 183px;
  margin: auto;
  border-radius: 5px;
}
.about-us-team_card_content{
  padding-top: 15px;
}
.about-us-team_card_name{
  font-size: 20px;
  
}
.about-us-team_card_desc{
  font-size: 17px;
  padding-top: 5px;

}